.page {
    display: flex;
    width: 99vw;
    height: 98vh;
    align-items: center;
    justify-content: center;
}
.main-container {
    --margin: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin-right: var(--margin);
    margin-left: var(--margin);
}
.main-container__title {
    text-align: center;
    font-size: 24px;
}

.main-container__content__p {
    font-size: 16px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error-img-container{
    height: 15vw;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-img{
    object-fit: contain;
    height: auto;
    max-width: 100%;
}

@media (max-width: 700px) {
    .error-img-container{
        height: 27vh;
        width: 27vw;
    }
}
@media (max-width: 300px) {
    .error-img-container{
        height: 15vh;
        width: 55vw;
    }
}
@media (max-width: 200px) {
    .error-img-container{
        margin-top: 25vh;
        height: 15vh;
        width: 50vw;
    }
}
@media (max-width: 200px) {
    .error-img-container{
        height: 100px;
        width: 100px;
    }
}
