*{
    margin : 0;
    padding : 0;
}
body{
    display: grid;
}
.page {
    justify-self: center;
    align-self: center;
}
.main-container {
    --side-margin : 10vw;
    --padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin-right: var(--side-margin);
    margin-left: var(--side-margin);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.main-container__title {
    margin-top: 1vh;
    text-align: center;
    font-size: 24px;
}

.main-container__content__p {
    font-size: 16px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-container{
    height: 15vw;
    width: 15vw;
}

.image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media (max-width:700px) {
    .image-container{
        height: 150px;
        width: 150px;
    }
}
@media (max-width:300px) {
    .image-container{
        height: 100px;
        width: 100px;
    }
}
